//可拖拽拉伸弹框
$infoboxBgColor = #0093F1 
$infoboxTitleheight = 34px// title高
$infoboxWidth = 400px // 弹框宽
$infoboxHeight = 480px// 弹框高
contentWarpStyl()
    width $infoboxWidth!important
    height $infoboxHeight!important
    //外阴影：box-shadow: X轴  Y轴  Rpx  color;
    box-shadow 1px 1px 1px $infoboxBgColor
    border 1px solid $infoboxBgColor
    position absolute
    margin-top 80px
    margin-left 40%
contentTitleStyl()
    background-color $infoboxBgColor
    color #fff
    height $infoboxTitleheight
    line-height $infoboxTitleheight
    padding 2px